.showcase
  display: grid
  grid-template-columns: 1fr
  gap: 20px
  padding: 0 15px

.showcase__item
  margin-bottom: 0

@media screen and (min-width: 401px)
  .showcase
    grid-template-columns: repeat(2, 1fr)
    gap: 20px
    padding: 0 15px

@media screen and (min-width: 900px)
  .showcase
    padding: 40px 40px 10px
    gap: 30px

@media screen and (min-width: 1400px)
  .showcase
    grid-template-columns: repeat(3, 1fr)
